{% include '_header.twig' %}
<!-- Header bar -->
<div class="headerphoto">

    {# You can either hardcode the filename for the header, or take a value from the current
       content in 'record', or - as we do in this example - take a random one from the list
       in the /theme/base-2014/config.yml file. #}
    {% set headerimage = paths.theme ~ 'images/' ~ random(theme.headerimage) %}
    <img src="{{ headerimage }} " alt="" />

    {# the values in the 'app.config' object are taken directly from the file app/config/config.yml #}
    <p>Learn When You Want. <br> Where You Want. <br> &amp; How You Want.</p>
</div>


<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div id="who" class="large-12 columns">
      <div class="row">
        <h2>Who We Are</h2>
          <p>Saylor Academy is a 10 person team commited to the open education ecosystem and ongoing open learning opportunities.</p>
          <button type="button" class="btn btn-default"><a href="#">Learn More</a></button>
          </div>
    </div>

    <div id="what" class="large-12 columns">
      <div class="row">
        <h2>What We Offer</h2>
        <div class="large-3 columns">
        <a href=""><img src="/theme/saylor/images/foundation.svg"/></a>
        <p>Foundational Courses are skill based courses designed to help you in everyday life.</p>
      </div>

      <div class="large-3 columns">
        <a href=""><img src="/theme/saylor/images/business.svg"/></a>
        <p>Career related courses help you build skills and knowledge for you next careet move.</p>
      </div>

      <div class="large-3 columns">
        <a href=""><img src="/theme/saylor/images/college.svg"/></a>
        <p>College credit courses are just that... courses that help you gain an edge by receiving college credits</p>
      </div>

      <div class="large-3 columns">
        <a href=""><img src="/theme/saylor/images/community.svg"/></a>
        <p>A passionate online communitiy of students and teachers.</p>
      </div>
    </div>
  </div>

      <div data-alert class="alert-box warning large-12 columns">
        <a href="#" class="close right">&times;</a>
        <h3>New Courses. Update!</h3>
        <p>Come check out the new course on Science Fiction. If you enjoy reading and thinking about the future; this course is for you. See you there.</p>
        <!-- Your content goes here -->
      </div>

    <div id="news" class="large-12 columns">
      <div class="row">
        <h2>{{ __('News &amp; Updates') }}</h2>
        <p>Weekly updates about the Saylor community and news on everything MOOC.</p>
        <button type="button" class="btn btn-default"><a href="pages/blog">Read Our Blog</a></button>
      </div>
    </div>

{% include '_footer.twig' %}
